<div id="top">
<form [formGroup]="bioSection" (ngSubmit)="callingFunction()">
  <div>
    <label>Income:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Contribution/yr:</label>
    <input type="text" formControlName="lastName">
  </div>
  <div>
    <label> Gains Expected (%):</label>
    <input type="text" formControlName="age">
  </div>
  <div>
    <label>Age Started:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Retirement Tax Bracket:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Working Tax Bracket:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Avg Realized gain/yr:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Retirement Age:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>Retirement Withdrawal:</label>
    <input type="text" formControlName="firstName">
  </div>
  <div>
    <label>RRSP Bonus Contribution:</label>
    <input type="text" formControlName="firstName">
  </div>
  <button type="submit">Generate Graphs</button>
</form>
</div>