<div id="top">
<form [formGroup]="inputs" (ngSubmit)="onSubmit()">
  <div>
    <label>Income:</label>
    <input type="number" formControlName="income">
  </div>
  <div>
    <label>Contribution/yr:</label>
    <input type="number" formControlName="contribution">
  </div>
  <div>
    <label> Gains Expected (%):</label>
    <input type="number" formControlName="gains">
  </div>
  <div>
    <label>Age Started:</label>
    <input type="number" formControlName="ageStarted">
  </div>
  <div>
    <label>Retirement Tax Bracket:</label>
    <input type="number" formControlName="retirementTaxBracket">
  </div>
  <div>
    <label>Working Tax Bracket:</label>
    <input type="number" formControlName="workingTaxBracket">
  </div>
  <div>
    <label>Avg Realized gain/yr:</label>
    <input type="number" formControlName="avgRealizedGains">
  </div>
  <div>
    <label>Retirement Age:</label>
    <input type="number" formControlName="ageRetirement">
  </div>
  <div>
    <label>Retirement Withdrawal:</label>
    <input type="number" formControlName="retirementWithdrawal">
  </div>
  <button type="submit">Generate Graphs</button>
</form>
</div>